* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.curriculum {

}

#personal-date {
    
}

.dados-pessoais {

}

#nome-input {

}

#email-input {

}

#cpf-input {

}

#cidade-input {

}

#estado-selected {

}

#check-residence {
    
}